body {
	background: black;
	font-family: "Playfair Display", serif;
}

* {
	/* border: 1px dashed red; */
	min-height: 10px;
}

p {
	font-size: 0.9em;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard > div {
	padding: 10px;
}

.postcard-header {
	display: flex;
	padding-bottom: 0 !important;
}

.postcard-header h1 {
	width: 350px;
	margin: 0;
	padding-top: 5px;
	font-family: "Comfortaa", cursive;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left p:last-child {
	margin-bottom: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

.body-right input {
	border: none;
	border-bottom: 1px solid gray;
	font-family: inherit;
	font-size: inherit;
	margin-bottom: 1px;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background-color: rgb(148, 148, 148);
	padding: 5px 10px;
	border: 0;
	font-family: inherit;
}

.postcard-footer button:hover {
	background-color: rgb(187, 187, 187);
	cursor: pointer;
}

.postcard-footer button:active {
	background-color: rgb(224, 223, 223);
}
